.card{
  /* border: 1px solid black; */
  -webkit-box-shadow: 0px 0px 15px 5px #D1D1D1; 
box-shadow: 0px 0px 15px 5px #D1D1D1;
padding: 10px;
margin: 30px;
border-radius: 10px;
transition: 1s;
position: relative;
}

.card:hover{
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.card img{
  height: 200px;
}

.deleteRecipe {
  background-color: grey;
  opacity: 0.7;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 5px 10px;
  border: none;

}